<div class="">

  <!-- headers -->
  <div class="row align-items-center justify-content-start border-bottom-gray text-primary pb-2">
    <div *ngIf="listOfColumns.year" class="col-1">Anno</div>
    <div *ngIf="listOfColumns.first_name" class="col-3">Nome e Cognome</div>
    <div *ngIf="listOfColumns.drain" class="col-2">Canaletta</div>
    <div *ngIf="listOfColumns.paid" class="col-1">Pagato</div>
    <div *ngIf="listOfColumns.amount" class="col-2">Importo</div>
    <div *ngIf="listOfColumns.amount" class="col-2"></div>
    <div *ngIf="listOfColumns.amount" class="col-1"></div>
  </div>


  <div *ngIf="data !== undefined">
    <!-- rows -->
    <app-db-row *ngFor="let row of data" [data]=row [listOfColumns]=listOfColumns (rowChanged)="rowChanged($event)" (rowDeleted)="rowDeleted($event)"></app-db-row>
    <!-- totals -->
    <div class="row align-items-center justify-content-end pt-4">
      <div class="col-2 d-flex justify-content-end">Assegnate:<span class="text-primary font-bold ml-2">{{this.data.length}}</span></div>
      <div class="col-2 d-flex justify-content-end">Pagate:<span class="text-primary font-bold ml-2">{{this.paidDrains}}</span></div>
      <div class="col-3 d-flex justify-content-end">Ancora da pagare:<span class="text-primary font-bold ml-2">{{this.data.length - this.paidDrains}}</span></div>
    </div>
  </div>

  <div class="row align-items-center justify-content-end pt-4">
    <div class="col-10">
      <!-- warning -->
      <div *ngIf="showAlert === true" class="alert alert-danger m-0"><fa-icon [icon]="faExclamationTriangle" class="mr-3"></fa-icon>Alcuni valori sono stati modificati, ricordati di salvare</div> 
   </div>
   <div class="col-2">
      <button class="btn btn-secondary w-100 my-2">Salva</button> 
   </div>
  </div>
  
</div>