<div class="container">
  <div class="row">

    <div class="col-3">
      <app-menu></app-menu>
    </div>

    <div class="col-9">
      <div class="row">
        <h1 class="">Download CSV</h1>
        <p>Imposta i parametri per  scaricare il csv</p>
        <form [formGroup]="downloadForm" class="d-flex flex-column w-100 bg-dark-l rounded p-3 mb-4">
          <div class="row">
            <div class="col-4">
              <label>Dall'anno *</label><small
                *ngIf="downloadForm.controls['yearFrom']?.errors && (downloadForm.controls['yearFrom'].dirty || downloadForm.controls['yearFrom'].touched)"
                class="text-danger ml-1">{{this.required}}</small>
              <input formControlName="yearFrom" [(ngModel)]="data.yearFrom" name="yearFrom" type="text" class="form-control" />
            </div>
            <div class="col-4">
              <label>All'Anno *</label><small
                *ngIf="downloadForm.controls['yearTo']?.errors && (downloadForm.controls['yearTo'].dirty || downloadForm.controls['yearTo'].touched)"
                class="text-danger ml-1">{{this.required}}</small>
              <input formControlName="yearTo" [(ngModel)]="data.yearTo" name="yearTo" type="text" class="form-control" />
            </div>
          </div>

          <div class="row justify-content-end mt-3">
            <div class="col-3">
              <button class="btn btn-secondary w-100 my-2" (click)="download()" [disabled]="!downloadForm.valid"><fa-icon [icon]='faCloudDownloadAlt' class="mr-3"></fa-icon>Download</button>
            </div>
          </div>

        </form>
      </div>

      <div class="row">
        <h1 class="w-100">Upload CSV</h1>
        <p class="w-100">Imposta i parametri per  scaricare il csv</p>
        <form [formGroup]="uploadForm" class="d-flex flex-column w-100 bg-dark-l rounded p-3 mb-4">
          <div class="row">
            <div class="col-4">
              <label>File *</label><small
                *ngIf="uploadForm.controls['fileToUpload']?.errors && (uploadForm.controls['fileToUpload'].dirty || uploadForm.controls['fileToUpload'].touched)"
                class="text-danger ml-1">{{this.required}}</small>
                
              <input formControlName="fileToUpload" [(ngModel)]="data.fileToUpload" name="fileToUpload" type="file" class="form-control" />
            </div>
          </div>

          <div class="row justify-content-end mt-3">
            <div class="col-3">
              <button class="btn btn-secondary w-100 my-2" (click)="upload()" [disabled]="!uploadForm.valid"><fa-icon [icon]='faCloudUploadAlt' class="mr-3"></fa-icon>Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>