/* COLORS */
$dark: #11222b
$light: #fff
$primary: #fecf6c !important
$secondary: #ff7761 !important
$gray: #959595
$warning: #f9a11b !important

/*PALETTE*/
$one: #FBFFB9 
$two: #fdd692
$three: #ec7357
$four: #754F44 

$five: #334649
$six: #4E7A6A
$seven: #8ce0ac
$eight: #cbc973
$nine: #fecf6c

$ten: #ff7761
$eleven: #fdc23e
$twelve: #f9a11b

/*OVER BASIC STYLE*/
.bg-primary
  background-color: $nine !important
  color: $dark

.text-gray
  color: $gray
.border-bottom-gray
  border-bottom: solid 1px $gray