<div>
  <div class="row">
    <div class="col-6">
      <label>CF utente</label>
      <input [(ngModel)]="data.cf" name="" type="text" class="form-control" />
    </div>
    <div class="col-6 text-danger">
      Le tariffe per quest'anno non sono ancora state definite. Inseriscile prima di prseguire
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label>Num. canaletta</label>
      <input [(ngModel)]="data.num" name="" type="text" class="form-control" />
    </div>
    <div class="col-6 text-danger">
      Questa canaletta non è stata inserita nel sistema.
    </div>
  </div>

</div>

<div class="row">

</div>